:root {
  --dark: #293a55;
  --blue: #71b964;
  --cream: #eaecf3;
  --violet: #79114a;
  --gray: ;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cream);
}

h1,
h2,
h3,
h4,
h5,
hr {
  font-family: "Comfortaa", cursive;
  color: var(--dark);
}

p,
a {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: var(--dark);
}

nav a,
h1 {
  color: white !important;
}

.details img {
  width: 100%;
  height: 75%;
}

.quantity label {
  margin: 0 15px 0 0;
}

.quantity input {
  max-width: 50px;
  text-align: center;
  margin: 0;
}

.btn {
  background-color: var(--blue) !important;
  color: white !important;
  border: none;
}

hr {
  opacity: 1.25;
}

footer {
  display: block;
  width: 200px;
}

.logo {
  padding-bottom: 5px;
}
