:root {
  --dark: #071f27;
  --blue: #a6b1e1;
  --cream: #f9edcc;
  --violet: #61304b;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cream);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Comfortaa", cursive;
  color: var(--dark);
}

p {
  font-family: "Roboto", sans-serif;
}





header {
  padding: 1%;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;

  list-style: none;
}

nav li {
  padding-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--dark);
}
